a{
    font-style: none;
}
.flex-menu{
    display: flex;
    flex: 1;

    justify-content: space-between;
    width: 70%;

}
.home {
width: 100%;
height: 150px;
background-image: url("./imagens/croche.jpg");
opacity: 0.1;
}

body{
    font-family: 'Courier New', Courier, monospace;
}
.produtos{
    width: 100%;
}

.logo img{
    width: 200px;
}
    
}
.produtos th {
    width: 33%;
    height: 150px;
    align-items: center;
}
.produtos td {
    align-items: center;
    text-align: center;
}