.flex-menu{
    display: flex;
    flex: 1;
    position: relative;
    justify-content: space-between;
    width: 70%;
}

body{
    font-family: 'Courier New', Courier, monospace;
}
.produtos{
    width: 100%;
    
}
.produtos th {
    width: 33%;
    height: 150px;
    align-items: center;
}
.produtos td {
    align-items: center;
    text-align: center;
}